@font-face {
    font-family: CaslonAntique;
    src: url(fonts/CaslonAntique.ttf);
}

@font-face {
    font-family: CaslonAntique;
    src: url(fonts/CaslonAntique-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: CaslonAntique;
    src: url(fonts/CaslonAntique-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: CaslonAntique;
    src: url(fonts/CaslonAntique-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}

body {
    background-image: url(assets/parchment_background.jpg);
    background-size: 200%;
}

.center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    /*border: 3px solid green;*/
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: CaslonAntique;
    font-weight: bold;
    font-size: 40px;

}

p {
    line-height: 1.6;
}

input {
    width: 40%;
    font-size: inherit;
    text-align: center;
    font-family: CaslonAntique;
    background-color: #DEC4A3;
}

img {
    width: 25%;
    visibility: hidden;
    position: absolute;
}